body{
  background-color: #ece2e2;
}
/* Style for the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #bdaeae;
  padding: 15px; /* Decrease padding */
  font-size: 25px; /* Keep font size */
  font-family: 'Montserrat', sans-serif;
}

th {
  background-color: #4CAF50; /* Green background for table headers */
  color: white; /* White text color for table headers */
}

td {
  background-color: #f2f2f2; /* Light gray background for table cells */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Button styles */
.book-now-button,
.login-button {
  background-color: #45a049; /* Darker green */
  border: none;
  color: white;
  padding: 8px 12px; /* Decrease padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect */
.book-now-button:hover,
.login-button:hover {
  background-color: #4CAF50; /* Lighter green */
}

/* Disabled button style */
.login-button[disabled] {
  background-color: #cccccc; /* Light gray */
  color: #666666;
  cursor: not-allowed;
}

/* Add this CSS to center the button within the table cell */
td button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
}
/* Header Styles */
header {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo img {
  height: 50px;
  margin-right: 15px;
}

.title h1 {
  font-size: 26px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  justify-content: left;
  width: 400px;
  font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
  font-weight: 500; /* Adjust font weight as needed */ 
}

nav {
  max-width: 1400px; /* Adjust the max-width value as needed */
  width: 100%;
  padding: 1.5rem 1.5rem; /* Increase the padding to add more space */
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
  transition: transform 0.3s ease-in-out; /* Add transition for transform property */
}

nav:hover {
  transform: translateZ(5px); /* Move the nav bar forward slightly on hover */
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto; /* Align the nav ul content to the right */
}
nav li {
  margin-top: 7px;
}
nav ul li:not(:last-child) {
  margin-right: 5px; /* Add margin between list items */
}
nav ul li {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
  color: white; /* Base color */
  padding-bottom: 10px;
}
nav a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  color: white; /* Base color */
}

nav ul li a:hover {
  cursor: pointer;
  color: yellow; /* Bright color on hover */
  transform: translateZ(5px); /* Move menu item forward on hover */
}


/* Add this to style the dropdown button */
nav .dropdown .dropbtn {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
  cursor: pointer; /* Change cursor to pointer */
}

nav .dropdown .dropbtn:hover {
  color: yellow;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Background color of the dropdown */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-content a {
  color: white;

  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.dropdown-content a:hover {
  color: yellow;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content a.logout {
  color: red; /* Color for logout link */
}
/* End of Header Styles */
  /* End of Header Styles */

main {
    padding: 20px;
    margin-top: 90px; /* Adjust this value to create space between header and main content */
}
.booking-details {
    display: flex;
    flex-wrap: wrap;
    
    
}

.tbl_booking {
  
  border: solid rgb(133, 129, 129) 2px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}

.booking-details h2 {
  margin-top: 10px;
  margin-bottom: 43px;
  font-size: 40px;
}

.booking-details p {
    width: 50%; /* Display each detail in two columns */
    margin: 0; /* Remove default margin */
    padding: 10px 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in width calculation */
}
/* Add this CSS to style the form */
form {
    margin-top: 20px;
}

/* Style the select dropdown */
label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: bold;
}
select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 20px;
    margin-bottom: 15px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .booking-details p {
        width: 100%; /* Display each detail in a single column on smaller screens */
    }
}