/* profile.css */
* {
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
}
body {
    background-image: url("../assets/images/contact");
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* Add position relative */
  }
  body:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5); /* Transparent gray color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the pseudo-element behind other content */
  }
.button-container {
    text-align: center;
    margin-top: 20px;
}

.edit-profile-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile-button:hover {
    background-color: #0056b3;
}

/* Header Styles */
header {
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    padding: 10px 20px; /* Added padding */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.title h1 {
    text-align: left;
    font-size: 26px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    justify-content: left;
    width: 400px;
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
    font-weight: 500; /* Adjust font weight as needed */ 
}

nav {
    max-width: 1300px; /* Adjust the max-width value as needed */
    width: 100%;
    padding: 1.3rem 2rem; /* Increase the padding to add more space */
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
    transition: transform 0.3s ease-in-out; /* Add transition for transform property */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto; /* Align the nav ul content to the right */
}

nav li {
    margin-top: 7px;
}

nav ul li:not(:last-child) {
    margin-right: 5px; /* Add margin between list items */
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px;
    color: white; /* Base color */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transform transition */
}

nav ul li a:hover {
    cursor: pointer;
    color: yellow; /* Bright color on hover */
    transform: translateZ(5px); /* Move menu item forward on hover */
}

/* End of Header Styles */

.profile-picture-container {
    position: absolute;
    top: 600px; /* Adjust this value to move it up or down */
    left: 270px; /* Center horizontally */
    transform: translateX(-50%);
    z-index: 999; /* Ensure it's above other content */
    transition: top 0.3s ease; /* Add transition effect for smoother movement */
}

.profile-picture {
    position: relative;
    max-width: 200px; /* Set maximum width */
    max-height: 200px; /* Set maximum height */
    object-fit: contain; /* Maintain aspect ratio */
    cursor: pointer;
    transition: transform 0.3s ease; /* Add transition for smoother zoom effect */
}

/* Add this CSS to achieve the zoom effect */
.profile-picture-container.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.profile-picture-container.zoomed .profile-picture {
    max-width: none; /* Set maximum width to none to display the image in its original size */
    max-height: none; /* Set maximum height to none */
    width: auto; /* Set width to auto to maintain original aspect ratio */
    height: auto; /* Set height to auto */
    cursor: zoom-out; /* Change cursor to indicate that clicking will zoom out */
}
.profile-picture-container:hover .profile-picture {
    transform: scale(1.2); /* Zoom in on hover */
}

.flaticon-icon {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;

}
.container h1 {
    text-align: 10px;
    margin-left: 30px;

}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 850px;
}

.container {
    position: relative; /* Make the container relatively positioned */
    margin-top: 200px; /* Adjust margin to create space for the picture */
    padding-bottom: 140px;
    max-width: 850px;
    width: 100%;
    background-color: #ffffff;
    padding-right: 130px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    margin: 50px auto 0; /* Added top margin */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    animation-name: fadeToLeft;
    animation-duration: 1s;
}

@keyframes fadeToLeft {
    from {
        opacity: 0;
        transform: translateX(400px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.profile-info-right {
    padding-top: 68px;
    margin-right: 150px; /* Adjust this value to increase the space to the right */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-info {
    padding-right: 250px;
    width: 100%; /* Adjust the width percentage as needed */
}


.line-input {
    font-size: 20px;
    border: none; /* Remove all borders */
    border-bottom: 1px solid black; /* Add bottom border */
    outline: none; /* Remove outline */
    background-color: transparent; /* Transparent background */
    padding: 0; /* Remove padding */
    margin: 4px 0; /* Adjust margin to create space */
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include border in width calculation */
}

/* Optional: Add focus styles */
.line-input:focus {
    border-bottom: 2px solid blue; /* Change bottom border color on focus */
}


.edit-profile-button {
    max-width: 140px;
    width: 100%;
    margin-top: 80px;
    margin-left: -40px;
    font-size: 16px;
    padding: 12px 24px;
    background-color: #e3ebe4;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
}

.edit-profile-button:hover {
    background-color: #46b86c; /* Darken color on hover */
}
.save-profile-button {
    max-width: 145px;
    width: 100%;
    margin-top: 80px;
    margin-left: 120px;
    font-size: 16px;
    padding: 12px 24px;
    background-color: #e3ebe4;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    }
    
.save-profile-button:hover {
    background-color: #46b86c; /* Darken color on hover */
}
.profile-picture-label {
    margin-left: 30px; /* Adjust this value to move the label further to the left */
    margin-right: 0; /* Remove margin to the right */
    padding-right: 0; /* Remove padding to the right */
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.profile-info p {
    margin: 10px 0;
    font-size: 20px;
    margin: 1.7rem 2rem;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease; /* Add transition effect */
  }
  
  .close:hover,
  .close:focus {
    color: #555; /* Darken color on hover/focus */
    text-decoration: none;
    cursor: pointer;
  }
  .success-message {
    max-width: 200px;
    max-width: 100%;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}
.hidden {
    display: none;
}
