body{
    background-color: #b9b4b4;
  }

.analytics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    height: 150px;
    font-size: 50px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .anal-logo {
    height:100px;
    width: 100px;
    margin-right: 10px;
   
  }
  
  .h1-anal {
    font-size: 100px;
    cursor: pointer;
    font-family: monospace;
    text-shadow: 
          -1px -1px 0 #000,  
           1px -1px 0 #000,
          -1px  5px 0 #000,  
           15px  5px 0 #000;
  }
  
.header1{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    z-index: 999;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    margin: 0;
}


  
  .logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .logo img {
    height: 50px;
    margin-right: 15px;
  }
  
  .title h1 {
    font-size: 26px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    justify-content: left;
    width: 300px;
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
    font-weight: 500; /* Adjust font weight as needed */
  }
  
  nav {
    max-width: 1400px; /* Adjust the max-width value as needed */
    width: 100%;
    padding: 2rem 1.5rem; /* Increase the padding to add more space */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
    font-weight: 500; /* Adjust font weight as needed */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Adjust the font size as needed */
    display: flex;
    margin-left: auto; /* Align the nav ul content to the right */
  }
  
  nav ul li:not(:last-child) {
    margin-right: 5px; /* Add margin between list items */
  }
  
  nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  
  /* Add this to style the dropdown button */
  nav .dropdown .dropbtn {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer; /* Change cursor to pointer */
  }
  
  nav .dropdown .dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .dropdown {
    margin-top: -8px;
  }
  
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
    font-weight: 500; /* Adjust font weight as needed */;
    transition: background-color 0.3s;
  }
  
  .dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* Background color of the dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dropdown.active .dropdown-content {
    display: block;
  }
  .dropdown-content a.logout {
    color: red; /* Color for logout link */
  }